@font-face {
    font-family: 'Inter';
    src: url('./Inter-Regular.woff2') format('woff2'),
        url('./Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --page-bg: #F9FAFB;
  --card-bg: #FFFFFF;
  --text-heading: #111827;
  --text-body: #4B5563;
  --btn-bg: #6366F1;
  --btn-bg-hover: #4F46E5;
}

body{
    font-family:Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

