:root{
    --header-bgm:#111827;
    --text:#F9FAFB;
    --btn-bg:#14B8A6;
    --btn-hover:#0D9488;
    --menu-bg:#1F2937;
    --bg:#D4D9E2;
}

.icon{
    width: 1.5em;
    height: 1.5em;
}

.menu-items{
    display: none;
}

.menu-icons{
    display: none;
}