@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
        url('assets/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

:root {
    --header-bgm: #111827;
    --text: #F9FAFB;
    --btn-bg: #14B8A6;
    --btn-hover: #0D9488;
    --menu-bg: #1F2937;
    --bg: #D4D9E2;

}

body {
    font-family: Roboto;
    margin: 0;
    background-color: var(--bg);
}

.icon {
    width: 2em;
    height: auto;
}

.menu-items {
    display: none;
    background-color: var(--menu-bg);
    color: var(--text);
    
}

.menu-items > div{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding: 10px;
}

/* .menu-items > div >button{
    margin-left: 20px;
} */

#close-icon {
    display: none;
    margin-right: 20px;
}

.menu-icons {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bgm);
    color: var(--text);
    padding: 10px;
}

#brand-logo {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-links>li,.menu-items > div > ul > li {
    list-style: none;
}

.nav-links>li,.menu-items > div > ul > li:hover {
    color: var(--btn-bg);
}

.menu-items > div > ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#sign-up-btn,.menu-items > div >button {
    font-size: 17px;
    font-weight: 500;
    background-color: var(--btn-bg);
    border-radius: 10px;
    color: var(--text);
    padding: 10px 25px;
    border: none;
    
}

#sign-up-btn{
margin-right: 20px;
}


#sign-up-btn,.menu-items > div >button:hover {
    background-color: var(--btn-hover);
}

@media(min-width:600px) {
    .menu-items {
        display: none !important;
    }

    
}

@media(max-width:600px) {
    .nav-links {
        display: none;
    }

    #sign-up-btn {
        display: none;
    }

    .menu-icons {
        display: block;
    }

    #hamburger-icon {
        display: block;
        margin-right: 20px;
    }


    #hamburger-icon:hover {
        color: var(--btn-bg);
    }

    #close-icon:hover {
        color: var(--btn-bg);
    }

    .menu-items {
        display: none;
    }

}