:root{
    --header-bgm:#111827;
    --text:#F9FAFB;
    --btn-bg:#14B8A6;
    --btn-hover:#0D9488;
    --menu-bg:#1F2937;
    --bg:#D4D9E2;
}

.icon{
    width: 1.5em;
    height: 1.5em;
}

.menu-items{
    display: none;
}

.menu-icons{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bgm);
    color: var(--text);
    padding: 10px;
}

.nav-links{
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 16px;
}

.nav-links > li{
    list-style: none;
}