@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto-variablefont_wdthwght-webfont.woff') format('woff'),
        url('assets/fonts/roboto-variablefont_wdthwght-webfont.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

:root {
    --header-bgm: #111827;
    --text: #F9FAFB;
    --btn-bg: #14B8A6;
    --btn-hover: #0D9488;
    --menu-bg: #1F2937;
    --bg: #D4D9E2;

}

body {
    font-family: Roboto;
    margin: 0;
}

.icon {
    width: 2em;
    height: auto;
}

.menu-items {
    display: none;
}

.menu-icons {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bgm);
    color: var(--text);
    padding: 10px;
}

#brand-logo {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 16px;
    letter-spacing: 1px;
}

.nav-links>li {
    list-style: none;
}

.nav-links>li:hover {
    color: var(--btn-bg);
}


#sign-up-btn {
    font-size: 17px;
    font-weight: 500;
    background-color: var(--btn-bg);
    border-radius: 10px;
    color: var(--text);
    padding: 10px 25px;
    border: none;
    margin-right: 20px;
}

#sign-up-btn:hover {
    background-color: var(--btn-hover);
}


@media(max-width:600px) {
    .nav-links {
        display: none;
    }

    #sign-up-btn {
        display: none;
    }

    .menu-icons {
        display: block;
    }

    #hamburger-icon {
        display: block;
        margin-right: 20px;
    }

    #close-icon{
        display: none;
    }

    #hamburger-icon:hover{
        color: #14B8A6;
    }

}